/* 
    Document   : exam
    Created on : Jan 5, 2015, 1:03:43 AM
    Author     : DELL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

